.slick-dots {
    padding-top: 100px;
    // background-color: black;
    // width: 500px;

}

.impo {
    margin-top: 500px;
    // padding-top: 50px;
}

.impo li {
    // background-color: black;
    // width: 1000px;
    width: 100px;
    height: 100px;
}

.slick-dots .slick-active {
    // display: flex;
    // width: 500px;
    // .slick-dots .slick-active::before {
    //     content: "";
    //     /* use the ppointer instead of this link */
    //     // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/codepen.png) top center no-repeat;
    //     position: absolute;
    //     top: -70px;
    //     left: -25px;
    //     width: 50px;
    //     height: 50px;
    //     border: 1px solid red;
}